<style type="text/css">
		.dosbox-container {
			width: 100%;
			height: 100%;
			background: linear-gradient(to bottom, #202020, #111119);
		}

		.dosbox-container>.dosbox-overlay {
			background: url("{{ url_for('static', filename='ect/DOOM.png') }}");
		}

		p {
			color: white;
			margin-left: 40px;
		}

		body {
			background: black;
		}
	</style>