<!doctype html>
<html lang="en-us">

<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>school work</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/stylesheet.css')}}">
</head>

<body>

	<br/>
		<button onclick="dosbox.requestFullScreen();">Make fullscreen</button><br/>
     <div id="dosbox"></div>
<p><b>Controls:</b>Move: W, LEFT, S, RIGHT;
Use: E;
Fire: SPACE;
Speed on: SHIFT;
Strafe on: ALT;
Strafe: A, D;</p>
     <script type="text/javascript" src="{{ url_for('static', filename='js/DOS-API.js') }}"></script>
     <script type="text/javascript">
       var dosbox = new Dosbox({
         id: "dosbox",
         onload: function (dosbox) {
           dosbox.run("{{ url_for('static', filename='ect/DOOM.zip') }}", "./DOOM/DOOM.EXE");
         },
         onrun: function (dosbox, app) {
           console.log("App '" + app + "' is runned");
         }
       });
     </script>

   </body>
</html>